@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A
}

li, a {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

p {
    margin-right: 50%;
    font-family: "Prata", serif;
    font-weight: 500;
    font-size: 24px;
    color: #edf0f1;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}
.heroImg {
    display: block;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
