@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF
}
#navbar {
    height: 94px;
    border-bottom: 1px solid transparent;
    transition: all .4s linear;
    position: relative;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.row {
    margin-left: -20px;
}
.row:before {
    content: "";
    display: table;
    line-height: 0;
    box-sizing: border-box;
}
.navbar-inner {
    position: relative;
    height: 94px;
    overflow: hidden;
}
.span12 {
    width: 940px;
    margin-left: 20px;
    float: left;
}


.logo {
    cursor: pointer;
    display: inline-block;

}
.nav-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}
.standard {
    float: left;
    font-size: 0;
}





li, a {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3E649E;
    text-decoration: none;
}

p {
    margin-right: 50%;
    font-family: "Prata", serif;
    font-weight: 500;
    font-size: 24px;
    color: #3E649E;
    text-decoration: none;
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}



.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}
.hero {
    display: grid;
    grid-template-rows: 1fr;
}
#areaA {
    height: 150px;
    margin-left: 100px;
}
#areaB {
    height: 700px;
    margin-left: 100px;
}
#areaC {
    height: 250px;
    margin-left: 100px;
}
.heroImg {
    display: block;
    height: 600px;
    
}
